* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#app {
  block-size: 100dvh;
}
body {
  background: linear-gradient(135deg, #f7fafc 0%, #edf2f7 100%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
